<!DOCTYPE html ng-app>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<script>
    (function (e, p) {
        var m = location.href.match(/platform=(win8|win|mac|linux|cros)/);
        e.id = (m && m[1]) ||
                (p.indexOf('Windows NT 6.2') > -1 ? 'win8' : p.indexOf('Windows') > -1 ? 'win' : p.indexOf('Mac') > -1 ? 'mac' : p.indexOf('CrOS') > -1 ? 'cros' : 'linux');
        e.className = e.className.replace(/\bno-js\b/, 'js');
    })(document.documentElement, window.navigator.userAgent)
</script>
<meta charset="utf-8">
<title>
    Vox Demo
</title>
<script src="http://requirejs.org/docs/release/2.1.11/minified/require.js"></script>
<link rel="stylesheet" href="js/libs/jstree/themes/default/style.min.css"/>
<style>
    body {
        font-family: 'Lato', sans-serif;
    }

    p, a, li, label {
        font-size: 12px;
    }

    a {
        color: #481168;
    }

    h1 {
        width: 100%;
        font-weight: normal;
        font-size: 24px;
        color: darkmagenta;
        border-bottom: 1px solid darkmagenta;
    }

    h2 {
        font-weight: normal;
        font-size: 14px;
        color: darkgrey;
    }

    h3 {
        font-weight: normal;
        font-size: 12px;
        color: darkslategray;
    }

    textarea {
        font-family: "Courier";
        font-weight: bold;
    }

    .message {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        background: #FBEFF6;
        border-color: #FBEFF6;
        padding: 8px 15px;
        border-radius: 3px;
        margin: 0 0 0px;
        border: 1px solid #ccc;
        position: relative;
    }
</style>
<script>
require
        .config({
            baseUrl: "./",
            paths: {
                jquery: ['//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min' ],
                angularjs: ['//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min' ],
                jstree: ['js/libs/jstree/jstree.min' ],
                vox: "js/vox"
            },
            shim: {
                angularjs: {
                    require: "jquery",
                    exports: "angular"
                }
            }
        });

require(
        [ "require", "jquery", "angularjs", "jstree", "vox"],
        function (require, jquery, angularjs, jstree, vox) {
            jQuery(document)
                    .ready(
                    function () {
                        var module = angularjs.module(
                                "voxDemoApplication",
                                []);

                        module
                                .controller(
                                'voxDemo',
                                function ($scope) {
                                    console.log($scope);

                                    inheritMethods(
                                            $scope,
                                            new VoxDemo());

                                    $scope.initialize();
                                });

                        module.directive('ngBlur', ['$parse', function ($parse) {
                            return function (scope, element, attr) {
                                var fn = $parse(attr['ngBlur']);
                                element.bind('blur', function (event) {
                                    scope.$apply(function () {
                                        fn(scope, {$event: event});
                                    });
                                });
                            }
                        }]);

                        angular
                                .bootstrap(
                                document,
                                [ "voxDemoApplication" ]);
                    });
        });


function VoxDemo() {
    VoxDemo.prototype.safeApply = function (fn) {
        var phase = this.$root.$$phase;

        if (phase == '$apply' || phase == '$digest') {
            if (fn && (typeof(fn) === 'function')) {
                fn();
            }
        } else {
            this.$apply(fn);
        }
    };

    VoxDemo.prototype.parseGrammar = function () {
        this.grammar = JSON.parse(this.grammarString);
    };

    VoxDemo.prototype.initialize = function () {
        this.objects = [];
        this.links = [];
        this.context = null;
        this.message = null;
        this.languages =
                [
                    ['Afrikaans', ['af-ZA']],
                    ['Bahasa Indonesia', ['id-ID']],
                    ['Bahasa Melayu', ['ms-MY']],
                    ['Català', ['ca-ES']],
                    ['Čeština', ['cs-CZ']],
                    ['Deutsch', ['de-DE']],
                    ['English', ['en-AU', 'Australia'],
                        ['en-CA', 'Canada'],
                        ['en-IN', 'India'],
                        ['en-NZ', 'New Zealand'],
                        ['en-ZA', 'South Africa'],
                        ['en-GB', 'United Kingdom'],
                        ['en-US', 'United States']],
                    ['Español', ['es-AR', 'Argentina'],
                        ['es-BO', 'Bolivia'],
                        ['es-CL', 'Chile'],
                        ['es-CO', 'Colombia'],
                        ['es-CR', 'Costa Rica'],
                        ['es-EC', 'Ecuador'],
                        ['es-SV', 'El Salvador'],
                        ['es-ES', 'España'],
                        ['es-US', 'Estados Unidos'],
                        ['es-GT', 'Guatemala'],
                        ['es-HN', 'Honduras'],
                        ['es-MX', 'México'],
                        ['es-NI', 'Nicaragua'],
                        ['es-PA', 'Panamá'],
                        ['es-PY', 'Paraguay'],
                        ['es-PE', 'Perú'],
                        ['es-PR', 'Puerto Rico'],
                        ['es-DO', 'República Dominicana'],
                        ['es-UY', 'Uruguay'],
                        ['es-VE', 'Venezuela']],
                    ['Euskara', ['eu-ES']],
                    ['Français', ['fr-FR']],
                    ['Galego', ['gl-ES']],
                    ['Hrvatski', ['hr_HR']],
                    ['IsiZulu', ['zu-ZA']],
                    ['Íslenska', ['is-IS']],
                    ['Italiano', ['it-IT', 'Italia'],
                        ['it-CH', 'Svizzera']],
                    ['Magyar', ['hu-HU']],
                    ['Nederlands', ['nl-NL']],
                    ['Norsk bokmål', ['nb-NO']],
                    ['Polski', ['pl-PL']],
                    ['Português', ['pt-BR', 'Brasil'],
                        ['pt-PT', 'Portugal']],
                    ['Română', ['ro-RO']],
                    ['Slovenčina', ['sk-SK']],
                    ['Suomi', ['fi-FI']],
                    ['Svenska', ['sv-SE']],
                    ['Türkçe', ['tr-TR']],
                    ['български', ['bg-BG']],
                    ['Pусский', ['ru-RU']],
                    ['Српски', ['sr-RS']],
                    ['한국어', ['ko-KR']],
                    ['中文', ['cmn-Hans-CN', '普通话 (中国大陆)'],
                        ['cmn-Hans-HK', '普通话 (香港)'],
                        ['cmn-Hant-TW', '中文 (台灣)'],
                        ['yue-Hant-HK', '粵語 (香港)']],
                    ['日本語', ['ja-JP']],
                    ['Lingua latīna', ['la']]
                ];

        this.language = this.languages[6];

        var tokens = {MAIL: {label: "Mail", isKeyword: true},
            TWITTER: {label: "Twitter", isKeyword: true},
            FACEBOOK: {label: "Facebook", isKeyword: true},
            DONE: {label: "Done", isKeyword: true},
            ESCAPE: {label: "Escape", isKeyword: true},
            TEXT: {label: "Arbitrary Text", isKeyword: false}};

        this.useSampleGrammar();

        this.parser = new vox.VoiceParser();

        var self = this;

        this.parser.initialize(tokens, this.grammar, "MessageSequence", function () {
            self.voiceRecognitionStart();
        }, function () {
            self.voiceRecognitionConsume();
        }, function () {
            self.voiceRecognitionError();
        }, function () {
            self.voiceRecognitionEnd();
        });

        jQuery("#syntaxTree").jstree({ core: {theme: {
            "variant": "small"
        },
            data: [
                {text: "No content."}
            ]
        } });
    };

    /**
     *
     */
    VoxDemo.prototype.voiceRecognitionStart = function () {
        this.recognizing = true;

        this.safeApply();
        this.updateSyntaxTree();
    };

    /**
     *
     */
    VoxDemo.prototype.voiceRecognitionConsume = function () {
        this.safeApply();
        this.updateSyntaxTree();
    };

    /**
     *
     */
    VoxDemo.prototype.voiceRecognitionError = function (event) {
        if (event.error == 'no-speech') {
            this.message = "No speech";
        }
        else if (event.error == 'audio-capture') {
            this.message = "Audio capture";
        }
        else if (event.error == 'not-allowed') {
            if (event.timeStamp - this.startTimestamp < 100) {
            } else {
                this.message = "Not allowed";
            }
        }

        this.safeApply();
    };

    /**
     *
     */
    VoxDemo.prototype.voiceRecognitionEnd = function () {
        this.recognizing = false;

        this.safeApply();
    };

    /**
     *
     */
    VoxDemo.prototype.startRecognition = function () {
        this.parser.startRecognition();
    };

    /**
     *
     */
    VoxDemo.prototype.updateSyntaxTree = function () {
        jQuery("#syntaxTree").jstree("destroy");
        jQuery("#syntaxTree").jstree({ core: {theme: {
            "variant": "small"
        },
            data: [this.populateSyntaxTree(this.parser.rootSyntaxNode)

            ]
        } });
    };

    /**
     *
     */
    VoxDemo.prototype.applyGrammar = function () {
        try {
            this.grammar = eval("(" + this.grammarString + ")");
        }
        catch (x) {
            console.log(x);

            this.message = "Cannot parse grammar: \n" + x;
        }
    };

    /**
     *
     */
    VoxDemo.prototype.useSampleGrammar = function () {
        this.grammarString = "{MessageSequence: [\n" +
                "   [\n" +
                "      ['Message', function (node) {\n" +
                "                     alert('Parsed Message: ' + node);\n" +
                "                    }],\n" +
                "      ['MessageSequence']\n" +
                "   ]\n" +
                "],\n" +
                "Message: [\n" +
                "   [\n" +
                "      ['MessageType'],\n" +
                "      ['MessageContent']\n" +
                "   ]\n" +
                "],\n" +
                "MessageType: [\n" +
                "   [\n" +
                "      ['MAIL', function (node) {\n" +
                "                }]\n" +
                "   ],\n" +
                "   [\n" +
                "      ['TWITTER', function (node) {\n" +
                "                }]\n" +
                "   ],\n" +
                "   [\n" +
                "      ['FACEBOOK', function (node) {\n" +
                "                }]\n" +
                "   ]\n" +
                "],\n" +
                "MessageContent: [\n" +
                "   [\n" +
                "      ['TEXT']\n" +
                "   ]\n" +
                "]}";
        this.applyGrammar();
    };

    VoxDemo.prototype.populateSyntaxTree = function (syntaxNode) {
        var treeNode = {state: {
            opened: true
        }};

        if (syntaxNode.production) {
            treeNode.text = "\n" + syntaxNode.production + " (\n" + (syntaxNode.resolved ? "resolved" : "open") + ")";
            treeNode.icon = "css/images/production.png";
            treeNode.children = [];

            for (var n = 0; n < syntaxNode.children.length; ++n) {
                treeNode.children.push(this.populateSyntaxTree(syntaxNode.children[n]));
            }
        }
        else {
            treeNode.text = "\n" + (syntaxNode.token == "TEXT" ? (syntaxNode.text ? "\"\n" + syntaxNode.text + "\"" : "\"\"") : syntaxNode.token) + " (\n" + (syntaxNode.resolved ? "resolved" : "open") + ")";
            treeNode.icon = "css/images/token.png";
        }

        return treeNode;
    };
}

/**
 * Auxiliary method to copy all methods from the parentObject to the
 * childObject.
 */
function inheritMethods(target, source) {
    for (var member in source) {
        if (source[member] instanceof Function) {
            target[member] = source[member];
        }
    }
}
</script>
</head>
<body ng-controller="voxDemo">
<h1>Vox Demo
</h1>

<div class="message" ng-show="message != null" style="margin-bottom: 10px;">{{message}}</div>
<table>
    <tr valign="top">
        <td>
            <h2>SETTINGS</h2>
            <table>
                <tr>
                    <td><label>Language</label>
                    <td>
                        <select ng-model="language"
                                ng-options="language as language[0] for language in languages"></select>
                        <select ng-model="dialect"
                                ng-options="dialect as dialect[1] for dialect in language[1]"></select></td>
                </tr>
                <tr>
                    <td><label>Voice hints for next Token</label></td>
                    <td><input type="checkbox"/></td>
                </tr>
            </table>
            <h2>GRAMMAR</h2>
            <a href="#" ng-click="useSampleGrammar()">Use Sample Grammar &raquo;</a>
            <table>
                <tr>
                    <td><textarea cols="50" rows="30" ng-model="grammarString" ng-blur="applyGrammar()"></textarea>
                    </td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 20px;">
            <h2>RECORDING</h2>
            <input type="button" value="Start" ng-click="startRecognition()" ng-hide="recognizing"/>

            <div ng-show="recognizing">
                <p>Say one of the following</p>
                <ul>
                    <li ng-repeat="tokenNode in parser.unresolvedTokenNodes"><span
                            ng-show="parser.tokens[tokenNode.token].isKeyword"><strong>{{parser.tokens[tokenNode.token].label}}</strong></span><span
                            ng-hide="parser.tokens[tokenNode.token].isKeyword"><i>{{parser.tokens[tokenNode.token].label}}</i></span>
                    </li>
                </ul>
            </div>

            <h2>RESULT</h2>

            <div id="syntaxTree" style="width: 400px; height: 500px; border: 1px solid grey; overflow: scroll"></div>
        </td>
    </tr>
</table>
</body>
</html>